#listaRegistros .card-subtitle {
  border-bottom: 4px solid #0074F0;
}

/* Indicar que las alertas se mantengan ocultas */

#formCliente .alert,
#listaRegistros .alert {
  display: none;
}

/* Mostrar solo las alertas que contengan la clase active */

#formCliente .active,
#listaRegistros .active {
  display: block;
}
